Node-red_dashboard.json
[
    {
        "id": "3686077fae15545c",
        "type": "tab",
        "label": "Project_Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "59acf52cd8799bd8",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "df2cb73fe0626c14",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Conveyor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"trigger_animation\",\"selector\":\"#rotate_pulley\",\"action\":\"start\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1120,
        "y": 2120,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "f62bf6f42b7d27c4",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "df2cb73fe0626c14",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Conveyor",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"trigger_animation\",\"selector\":\"#rotate_pulley\",\"action\":\"stop\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1120,
        "y": 2160,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "7ae3ca3ba560c550",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "yellow",
        "group": "df2cb73fe0626c14",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "yellow",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ffcc00",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"set_style\",\"elementId\":\"object_ontop\",\"attributeName\":\"fill\",\"attributeValue\":\"#ffcc00\"},{\"command\":\"set_style\",\"elementId\":\"object_body\",\"attributeName\":\"fill\",\"attributeValue\":\"#ffb612\"},{\"command\":\"set_style\",\"elementId\":\"object_under\",\"attributeName\":\"fill\",\"attributeValue\":\"#ffb612\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1090,
        "y": 2040,
        "wires": [
            [
                "14d10b5c3b06b7fe",
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "0705084268b46e60",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "aa53500684c35e68",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ind(green)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"set_style\",\"elementId\":\"opt_head\",\"attributeName\":\"fill\",\"attributeValue\":\"#256525\"},{\"command\":\"set_style\",\"elementId\":\"opt_body\",\"attributeName\":\"fill\",\"attributeValue\":\"#2ece2e\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1070,
        "y": 1940,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "1d4e0b9d13d3c3ce",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "aa53500684c35e68",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ind(red)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"set_style\",\"elementId\":\"opt_head\",\"attributeName\":\"fill\",\"attributeValue\":\"red\"},{\"command\":\"set_style\",\"elementId\":\"opt_body\",\"attributeName\":\"fill\",\"attributeValue\":\"#808080\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1080,
        "y": 1900,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "36d6243ab52837b6",
        "type": "inject",
        "z": "3686077fae15545c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 390,
        "y": 1840,
        "wires": [
            [
                "0aa8d3f1440905c8",
                "db74a0fa5e7e861f",
                "3bd60d5ae0ba968a"
            ]
        ]
    },
    {
        "id": "0aa8d3f1440905c8",
        "type": "change",
        "z": "3686077fae15545c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "output",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "db74a0fa5e7e861f",
        "type": "change",
        "z": "3686077fae15545c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "good",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "14d10b5c3b06b7fe",
        "type": "function",
        "z": "3686077fae15545c",
        "d": true,
        "name": "good_yellow",
        "func": "// //add variable time\nvar total = global.get('good') + 1;\nglobal.set('good', total);\n\nmsg.payload =\n{\n    \"command\": \"update_text\",\n    \"selector\": \"#good\",\n    \"textContent\": total\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 2080,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "3bd60d5ae0ba968a",
        "type": "change",
        "z": "3686077fae15545c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bad",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "7e7a817a032e5cce",
        "type": "function",
        "z": "3686077fae15545c",
        "d": true,
        "name": "bad_black",
        "func": "// //add variable time\nvar total = global.get('bad') + 1;\nglobal.set('bad', total);\n\nmsg.payload =\n{\n    \"command\": \"update_text\",\n    \"selector\": \"#defect\",\n    \"textContent\": total\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 2120,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "710f97cf3cceaa35",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "df2cb73fe0626c14",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "black",
        "tooltip": "",
        "color": "",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"set_style\",\"elementId\":\"object_ontop\",\"attributeName\":\"fill\",\"attributeValue\":\"black\"},{\"command\":\"set_style\",\"elementId\":\"object_body\",\"attributeName\":\"fill\",\"attributeValue\":\"#5c5c5c\"},{\"command\":\"set_style\",\"elementId\":\"object_under\",\"attributeName\":\"fill\",\"attributeValue\":\"#5c5c5c\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1070,
        "y": 2080,
        "wires": [
            [
                "7e7a817a032e5cce",
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "5476f6068917ad07",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "df2cb73fe0626c14",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aluminium",
        "tooltip": "",
        "color": "",
        "bgcolor": "#969696",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"set_style\",\"elementId\":\"object_ontop\",\"attributeName\":\"fill\",\"attributeValue\":\"#e1e1e1\"},{\"command\":\"set_style\",\"elementId\":\"object_body\",\"attributeName\":\"fill\",\"attributeValue\":\"#969696\"},{\"command\":\"set_style\",\"elementId\":\"object_under\",\"attributeName\":\"fill\",\"attributeValue\":\"#969696\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1090,
        "y": 2020,
        "wires": [
            [
                "4670ee6b7fe26abe",
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "4670ee6b7fe26abe",
        "type": "function",
        "z": "3686077fae15545c",
        "d": true,
        "name": "Good_Aluminum",
        "func": "// //add variable time\nvar total = global.get('good') + 1;\nglobal.set('good', total);\n\nmsg.payload =\n{\n    \"command\": \"update_text\",\n    \"selector\": \"#good\",\n    \"textContent\": total\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 2040,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "8872e69332e6a360",
        "type": "modbus-read",
        "z": "3686077fae15545c",
        "name": "Sensor",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Input",
        "adr": "3",
        "quantity": "5",
        "rate": "300",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7e3059859e0411fc",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 590,
        "y": 420,
        "wires": [
            [
                "da3a1f1be9412ec2",
                "273bb748cf821428",
                "151625df1de1a1f2"
            ],
            []
        ]
    },
    {
        "id": "d168debae5a87026",
        "type": "modbus-read",
        "z": "3686077fae15545c",
        "name": "Cylinder,Counting",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "6",
        "rate": "700",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7e3059859e0411fc",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "124abdb79f1fbbb4"
            ],
            []
        ]
    },
    {
        "id": "17c000eac25bdd7a",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "ob->Al",
        "func": "var al = { payload: msg.payload};\nif (al.payload === \"true\" || al.payload === true) {\n    al.payload = [\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"object_ontop\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#e1e1e1\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"object_body\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#969696\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"object_under\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#969696\"\n        }\n    ]\n     } else {\n    al.payload = 'flase';\n    \n}\nreturn al;\n\n\n\n// var cylinder = { payload: msg.payload[2] };\n// if (cylinder.payload === \"true\" || cylinder.payload === true) {\n//     cylinder.payload =\n//     {\n//         \"command\": \"trigger_animation\",\n//         \"selector\": \"#move_fg\",\n//         \"action\": \"start\"\n//     }\n// }\n// else {\n//     cylinder.payload =\n//     {\n//         \"command\": \"trigger_animation\",\n//         \"selector\": \"#rotate_pulley1\",\n//         \"action\": \"stop\"\n//     }\n\n// }\n\nreturn cylinder;\n//  [\n//     {\n//         \"command\": \"set_style\",\n//         \"elementId\": \"object_ontop\",\n//         \"attributeName\": \"fill\",\n//         \"attributeValue\": \"#969696\"\n//     },\n//     {\n//         \"command\": \"set_style\",\n//         \"elementId\": \"object_body\",\n//         \"attributeName\": \"fill\",\n//         \"attributeValue\": \"#e1e1e1\"\n//     },\n//     {\n//         \"command\": \"set_style\",\n//         \"elementId\": \"object_under\",\n//         \"attributeName\": \"fill\",\n//         \"attributeValue\": \"#e1e1e1\"\n//     }\n// ]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 840,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "d8605d41f63be4c3",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "ob->yellow",
        "func": "var yellow = { payload: msg.payload};\nif (yellow.payload === \"true\" || yellow.payload === true) {\n    yellow.payload = \n        [\n            {\n                \"command\": \"set_style\",\n                \"elementId\": \"object_ontop\",\n                \"attributeName\": \"fill\",\n                \"attributeValue\": \"#ffcc00\"\n            },\n            {\n                \"command\": \"set_style\",\n                \"elementId\": \"object_body\",\n                \"attributeName\": \"fill\",\n                \"attributeValue\": \"#ffb612\"\n            },\n            {\n                \"command\": \"set_style\",\n                \"elementId\": \"object_under\",\n                \"attributeName\": \"fill\",\n                \"attributeValue\": \"#ffb612\"\n            }\n        ]\n} else{\nyellow.payload = 'flase';\n    \n}\nreturn yellow;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 880,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "1c32c1e341d21020",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "ob-->black",
        "func": "var black = { payload: msg.payload};\nif (black.payload === \"true\" || black.payload === true) {\n    black.payload =\n        [\n            {\n                \"command\": \"set_style\",\n                \"elementId\": \"object_ontop\",\n                \"attributeName\": \"fill\",\n                \"attributeValue\": \"black\"\n            },\n            {\n                \"command\": \"set_style\",\n                \"elementId\": \"object_body\",\n                \"attributeName\": \"fill\",\n                \"attributeValue\": \"#5c5c5c\"\n            },\n            {\n                \"command\": \"set_style\",\n                \"elementId\": \"object_under\",\n                \"attributeName\": \"fill\",\n                \"attributeValue\": \"#5c5c5c\"\n            }\n        ]\n} else {\n    black.payload = 'flase';\n\n}\nreturn black;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 920,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "fd3e64e65c8a0257",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "Conveyor",
        "func": "var conveyor = { payload: msg.payload[4] };\nif (conveyor.payload === \"true\" || conveyor.payload === true) {\n    conveyor.payload = [\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#rotate_pulley\",\n            \"action\": \"start\"\n        }\n        \n    ]\n} else {\n    conveyor.payload = [\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#rotate_pulley\",\n            \"action\": \"stop\"\n        }\n    ]\n\n}\nreturn conveyor;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "124abdb79f1fbbb4",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "cylinder",
        "func": "var cylinder = { payload: msg.payload[2] };\nif (cylinder.payload === \"true\" || cylinder.payload === true) {\n    cylinder.payload = [\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#move_ob\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"object_ontop\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#4d4d4d\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"object_body\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#cccccc\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"object_under\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#cccccc\"\n        }\n\n    ]\n    \n} else {\n    cylinder.payload = 'flase';\n\n}\nreturn cylinder;\n\n// var total = global.get('output') + 1;\n// global.set('output', total);\n\n// msg.payload =\n// {\n//     \"command\": \"update_text\",\n//     \"selector\": \"#output\",\n//     \"textContent\": total\n// };\n\n// return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "da3a1f1be9412ec2",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "x4;ind",
        "func": "var ind = { payload: msg.payload[1] };//x4ind\nif (ind.payload === \"true\" || ind.payload === true) {\n    ind.payload = [\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"ind_head\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#256525\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"ind_body\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#2ece2e\"\n        }\n    ]\n} else {\n    ind.payload = [\n\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"ind_head\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"red\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"ind_body\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#808080\"\n        }\n\n    ]\n\n}\nreturn ind;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 380,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "273bb748cf821428",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "x5;cap",
        "func": "var cap = { payload: msg.payload[2] };//x5cap\nif (cap.payload === \"true\" || cap.payload === true) {\n    cap.payload = [\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"cap_head\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#256525\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"cap_body\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#2ece2e\"\n        }\n    ]\n} else {\n    cap.payload = [\n\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"cap_head\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"red\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"cap_body\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#808080\"\n        }\n\n    ]\n\n}\nreturn cap;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 420,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "151625df1de1a1f2",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "x6;Opt",
        "func": "var opt = { payload: msg.payload[3] };//x6opt\nif (opt.payload === \"true\" || opt.payload === true) {\n    opt.payload = [\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"opt_head\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#256525\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"opt_body\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#2ece2e\"\n        }\n    ]\n} else {\n    opt.payload = [\n\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"opt_head\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"red\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"opt_body\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#808080\"\n        }\n\n    ]\n\n}\nreturn opt;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 460,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "b6ebffdfdb64a539",
        "type": "modbus-read",
        "z": "3686077fae15545c",
        "name": "On,off,Conveyor",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "5",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7e3059859e0411fc",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "0eecb17507769411",
                "fd3e64e65c8a0257"
            ],
            []
        ]
    },
    {
        "id": "0eecb17507769411",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "Working status",
        "func": "var on = { payload: msg.payload[0] };//x0ind\nif (on.payload === \"true\" || on.payload === true) {\n    on.payload = [\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"Machine_name\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#256525\"\n        }\n    ]\n} else {\n    on.payload = [\n\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"Machine_name\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"red\"\n        }\n\n    ]\n\n}\nreturn on;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 320,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "dd6f54bdbf08b46c",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "Good_Al,ylow",
        "func": "var good = { payload: msg.payload[1]};\nif (good.payload = 'number' || good.payload === true) {\n    var total = msg.payload;\n    global.set('good', total);\n    good.payload = [\n        {\n            \"command\": \"update_text\",\n            \"selector\": \"#good\",\n            \"textContent\": total\n        }\n\n    ]\n} else {\n    good.payload = 'flase';\n\n}\nreturn good;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "eca62a15bb8cc2f3",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "bad_black",
        "func": "var bad = { payload: msg.payload[2]};\nif (bad.payload = 'number' || bad.payload === true) {\n    var total = msg.payload;\n    global.set('bad', total);\n    bad.payload = [\n        {\n            \"command\": \"update_text\",\n            \"selector\": \"#defect\",\n            \"textContent\": total\n        }\n\n    ]\n} else {\n    bad.payload = 'flase';\n\n}\nreturn bad;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 700,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "bef1d1c0f3752048",
        "type": "modbus-read",
        "z": "3686077fae15545c",
        "name": "Count good,bad",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "5",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7e3059859e0411fc",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 580,
        "y": 560,
        "wires": [
            [
                "9e2558e44e78f382"
            ],
            []
        ]
    },
    {
        "id": "9e2558e44e78f382",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "for count",
        "func": "var msg0 = { payload: msg.payload[0] };\nvar msg1 = { payload: msg.payload[1] };\nvar msg2 = { payload: msg.payload[2] };\n\n\nreturn [msg0, msg1, msg2];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 640,
        "wires": [
            [
                "c6bc11201b606de5"
            ],
            [
                "dd6f54bdbf08b46c"
            ],
            [
                "eca62a15bb8cc2f3"
            ]
        ]
    },
    {
        "id": "c6bc11201b606de5",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "Output",
        "func": "var out = { payload: msg.payload[0] };\nif (out.payload = 'number' || out.payload === true) {\n    var total = msg.payload;\n    global.set('bad', total);\n    out.payload = [\n        {\n            \"command\": \"update_text\",\n            \"selector\": \"#output\",\n            \"textContent\": total\n        }\n\n    ]\n} else {\n    out.payload = 'flase';\n\n}\nreturn out;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "9fdda56ab2ecfb9a",
        "type": "ui_svg_graphics",
        "z": "3686077fae15545c",
        "group": "19aca1c3f229fdd0",
        "order": 1,
        "width": 0,
        "height": 0,
        "svgString": "<svg xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\" xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:rexsvg=\"http://www.rexcontrols.com/rexsvg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"1200\" height=\"600\" viewBox=\"0 0 800 400\" version=\"1.1\" id=\"svg3471\" inkscape:version=\"1.2.2 (732a01da63, 2022-12-09)\" sodipodi:docname=\"Fullsystem_1.svg\" xml:space=\"preserve\" preserveAspectRatio=\"xMidYMid meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"800\" height=\"400\" style=\"fill: none; stroke: none;\"/><sodipodi:namedview id=\"namedview3473\" pagecolor=\"#ffffff\" bordercolor=\"#000000\" borderopacity=\"0.25\" inkscape:showpageshadow=\"2\" inkscape:pageopacity=\"0.0\" inkscape:pagecheckerboard=\"0\" inkscape:deskcolor=\"#d1d1d1\" inkscape:document-units=\"mm\" showgrid=\"false\" inkscape:zoom=\"1.4142136\" inkscape:cx=\"614.12222\" inkscape:cy=\"232.99168\" inkscape:window-width=\"2400\" inkscape:window-height=\"1261\" inkscape:window-x=\"2391\" inkscape:window-y=\"-9\" inkscape:window-maximized=\"1\" inkscape:current-layer=\"svg3471\" showguides=\"true\"><sodipodi:guide position=\"102.83948,145.12208\" orientation=\"1,0\" id=\"guide5360\" inkscape:locked=\"false\"/><sodipodi:guide position=\"102.49782,122.91422\" orientation=\"0,-1\" id=\"guide5362\" inkscape:locked=\"false\"/><sodipodi:guide position=\"307.49347,207.30409\" orientation=\"0,-1\" id=\"guide257\" inkscape:locked=\"false\"/><sodipodi:guide position=\"282.5,179.5\" orientation=\"1,0\" id=\"guide259\" inkscape:locked=\"false\"/><sodipodi:guide position=\"232.40928,207.21143\" orientation=\"1,0\" id=\"guide371\" inkscape:locked=\"false\"/><sodipodi:guide position=\"333.87695,208.66097\" orientation=\"1,0\" id=\"guide397\" inkscape:locked=\"false\"/><sodipodi:guide position=\"256.5,272\" orientation=\"1,0\" id=\"guide399\" inkscape:locked=\"false\"/><sodipodi:guide position=\"308.26844,207.69461\" orientation=\"1,0\" id=\"guide401\" inkscape:locked=\"false\"/><sodipodi:guide position=\"492,262.5\" orientation=\"1,0\" id=\"guide6397\" inkscape:locked=\"false\"/><sodipodi:guide position=\"291,268\" orientation=\"0,-1\" id=\"guide6687\" inkscape:locked=\"false\"/><sodipodi:guide position=\"462.09428,204.13142\" orientation=\"1,0\" id=\"guide6758\" inkscape:locked=\"false\"/><sodipodi:guide position=\"536.69405,186.45375\" orientation=\"1,0\" id=\"guide6760\" inkscape:locked=\"false\"/><sodipodi:guide position=\"446.18437,67.659822\" orientation=\"0,-1\" id=\"guide11700\" inkscape:locked=\"false\"/></sodipodi:namedview><defs id=\"defs3468\"><linearGradient id=\"linearGradient2407\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#4d4d4d;stop-opacity:1;\" offset=\"0\" id=\"stop2405\"/></linearGradient><linearGradient id=\"linearGradient4321\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#000000;stop-opacity:1;\" offset=\"0\" id=\"stop4319\"/></linearGradient><linearGradient id=\"linearGradient4259\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#000000;stop-opacity:1;\" offset=\"0\" id=\"stop4257\"/></linearGradient><linearGradient id=\"linearGradient4253\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#000000;stop-opacity:1;\" offset=\"0\" id=\"stop4251\"/></linearGradient><linearGradient id=\"linearGradient2179\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#ffffff;stop-opacity:1;\" offset=\"0\" id=\"stop2177\"/></linearGradient><linearGradient id=\"linearGradient1512\" inkscape:swatch=\"gradient\"><stop style=\"stop-color:#ff00ff;stop-opacity:1;\" offset=\"0\" id=\"stop1508\"/><stop style=\"stop-color:#ff00ff;stop-opacity:0;\" offset=\"1\" id=\"stop1510\"/></linearGradient><linearGradient id=\"linearGradient1467\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#ff00ff;stop-opacity:1;\" offset=\"0\" id=\"stop1465\"/></linearGradient><linearGradient id=\"linearGradient15327\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#00ffff;stop-opacity:1;\" offset=\"0\" id=\"stop15325\"/></linearGradient><rect x=\"326.62924\" y=\"55.082447\" width=\"201.48579\" height=\"60.8806\" id=\"rect15035\"/><linearGradient id=\"linearGradient13227\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#e8fffe;stop-opacity:1;\" offset=\"0\" id=\"stop13225\"/></linearGradient><linearGradient id=\"linearGradient12907\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#800000;stop-opacity:1;\" offset=\"0\" id=\"stop12905\"/></linearGradient><linearGradient id=\"linearGradient12876\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#4c4c4c;stop-opacity:1;\" offset=\"0\" id=\"stop12874\"/></linearGradient><linearGradient id=\"linearGradient11777\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#000000;stop-opacity:1;\" offset=\"0\" id=\"stop11775\"/></linearGradient><linearGradient id=\"linearGradient11718\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#02b800;stop-opacity:0.36078432;\" offset=\"0\" id=\"stop11716\"/></linearGradient><linearGradient id=\"linearGradient8945\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#008080;stop-opacity:1;\" offset=\"0\" id=\"stop8943\"/></linearGradient><linearGradient id=\"linearGradient8939\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#1a1a1a;stop-opacity:1;\" offset=\"0\" id=\"stop8937\"/></linearGradient><linearGradient id=\"linearGradient8931\" inkscape:swatch=\"solid\"><stop style=\"stop-color:#1a1a1a;stop-opacity:1;\" offset=\"0\" id=\"stop8929\"/></linearGradient><linearGradient id=\"SVGID_3_\" gradientUnits=\"userSpaceOnUse\" x1=\"6.9839001\" y1=\"76.408203\" x2=\"21.060499\" y2=\"76.408203\" gradientTransform=\"matrix(0.8615431,2.0293841e-7,2.6017881e-7,-0.6720001,234.09504,191.65556)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#00FF00\" id=\"stop919\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#ABFFCC\" id=\"stop921\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#00FF00\" id=\"stop923\"/>\n\t</linearGradient><linearGradient id=\"SVGID_1_\" gradientUnits=\"userSpaceOnUse\" x1=\"6.9839001\" y1=\"42.173801\" x2=\"21.060499\" y2=\"42.173801\" gradientTransform=\"matrix(0.8615431,2.0293841e-7,2.6017881e-7,-0.6720001,234.09504,191.65556)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop882\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop884\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop886\"/>\n\t</linearGradient><linearGradient id=\"SVGID_4_\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"17.008801\" x2=\"34.005901\" y2=\"17.008801\" gradientTransform=\"matrix(0.5041283,1.5234211e-7,1.5224253e-7,-0.50445805,303.56218,192.17357)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop1616\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop1618\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop1620\"/>\n\t</linearGradient><linearGradient id=\"SVGID_3_-8\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"44.257801\" x2=\"34.005901\" y2=\"44.257801\" gradientTransform=\"matrix(0.5041283,1.5234211e-7,1.5224253e-7,-0.50445805,303.56218,192.17357)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop1607\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop1609\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop1611\"/>\n\t</linearGradient><linearGradient id=\"SVGID_2_\" gradientUnits=\"userSpaceOnUse\" x1=\"3.3778999\" y1=\"40.879902\" x2=\"30.627899\" y2=\"40.879902\" gradientTransform=\"matrix(0.5041283,1.5234211e-7,1.5224253e-7,-0.50445805,303.56218,192.17357)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop1598\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop1600\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop1602\"/>\n\t</linearGradient><linearGradient id=\"SVGID_1_-3\" gradientUnits=\"userSpaceOnUse\" x1=\"3.3778999\" y1=\"97.180702\" x2=\"30.627899\" y2=\"97.180702\" gradientTransform=\"matrix(0.5041283,1.5234211e-7,1.5224253e-7,-0.50445805,303.56218,192.17357)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#FFFF00\" id=\"stop1584\"/>\n\t\t<stop offset=\"0.5\" style=\"stop-color:#FFFFBD\" id=\"stop1586\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#FFFF00\" id=\"stop1588\"/>\n\t</linearGradient><linearGradient id=\"SVGID_1_-6\" gradientUnits=\"userSpaceOnUse\" x1=\"3.3778999\" y1=\"97.180702\" x2=\"30.627899\" y2=\"97.180702\" gradientTransform=\"matrix(0.53077906,1.5566379e-7,1.6029083e-7,-0.51545729,303.78153,192.15936)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#FFFF00\" id=\"stop1311\"/>\n\t\t<stop offset=\"0.5\" style=\"stop-color:#FFFFBD\" id=\"stop1313\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#FFFF00\" id=\"stop1315\"/>\n\t</linearGradient><linearGradient id=\"SVGID_2_-0\" gradientUnits=\"userSpaceOnUse\" x1=\"3.3778999\" y1=\"40.879902\" x2=\"30.627899\" y2=\"40.879902\" gradientTransform=\"matrix(0.53077906,1.5566379e-7,1.6029083e-7,-0.51545729,303.78153,192.15936)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop1325\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop1327\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop1329\"/>\n\t</linearGradient><linearGradient id=\"SVGID_3_-3\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"44.257801\" x2=\"34.005901\" y2=\"44.257801\" gradientTransform=\"matrix(0.53077906,1.5566379e-7,1.6029083e-7,-0.51545729,303.78153,192.15936)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop1334\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop1336\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop1338\"/>\n\t</linearGradient><linearGradient id=\"SVGID_4_-4\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"17.008801\" x2=\"34.005901\" y2=\"17.008801\" gradientTransform=\"matrix(0.53077906,1.5566379e-7,1.6029083e-7,-0.51545729,303.78153,192.15936)\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop1343\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop1345\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop1347\"/>\n\t</linearGradient><inkscape:path-effect effect=\"bspline\" id=\"path-effect15899\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16536\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16310\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect15906\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16083\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16553-8\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16553-8-1\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect15899-2\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16536-0\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16310-8\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect15906-2\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16083-8\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16553-8-2\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/><inkscape:path-effect effect=\"bspline\" id=\"path-effect16553-8-1-2\" is_visible=\"true\" lpeversion=\"1\" weight=\"33.333333\" steps=\"2\" helper_size=\"0\" apply_no_weight=\"true\" apply_with_weight=\"true\" only_selected=\"false\"/></defs><g inkscape:label=\"Layer 1\" inkscape:groupmode=\"layer\" id=\"layer1\" style=\"stroke-width:0.864391\"/><g id=\"g4637\" transform=\"matrix(1.1554656,0,0,1.1583031,-12.833337,-37.447399)\" style=\"stroke-width:0.864391\"><path style=\"fill:#7f7f7f;stroke:#4c4c4c;stroke-width:1.16873\" d=\"m 102.68932,277.95408 h 286.18431 l 0.12022,19.5617 -287.40968,0.0451 z\" id=\"path515\" sodipodi:nodetypes=\"ccccc\"/><path style=\"fill:#7f7f7f;stroke:#4c4c4c;stroke-width:1.16873\" d=\"m 107.55167,244.27145 -14.587058,14.73615 24.058888,32.85792 19.00768,-18.82349 2.77849,-2.80688 2.08386,-4.21033 0.69462,-3.50861 0.69463,-4.21033 -0.69463,-3.50861 -0.69462,-4.21033 -2.08386,-3.50861 -2.77849,-2.80688 -2.77849,-2.80689 -3.47311,-2.10516 -4.16773,-0.70173 -3.47311,-0.70172 -4.16774,0.70172 -3.47311,0.70173 -4.16773,2.10516 z\" id=\"path517\" sodipodi:nodetypes=\"cccccccccccccccccccc\"/><ellipse style=\"fill:#b2b2b2;stroke:#4c4c4c;stroke-width:1.16873\" cx=\"388.87366\" cy=\"277.25238\" id=\"circle519\" rx=\"20.144041\" ry=\"20.349926\"/><ellipse style=\"fill:#b2b2b2;stroke:#4c4c4c;stroke-width:1.16873\" cx=\"102.68931\" cy=\"277.25238\" id=\"circle521\" rx=\"20.144041\" ry=\"20.349926\"/><path style=\"fill:#000000;stroke:#4c4c4c;stroke-width:1.16873\" d=\"m 423.60473,271.63859 2.77849,-3.50861 2.08387,-3.50861 0.69462,-3.50861 0.69462,-4.21032 -1.38924,-7.71894 -4.16774,-7.01722 -6.94622,-4.21033 -7.64084,-1.40344 H 123.52798 l -4.16773,0.70172 -3.47311,0.70172 -3.47311,2.10517 -3.47311,2.10516 -19.974017,20.12271 2.608464,-1.87795 3.473111,-2.10516 4.167734,-0.70172 3.473108,-0.70172 h 286.18431 l 4.16773,0.70172 3.47311,0.70172 4.16773,2.10516 2.77849,2.80689 2.77849,2.80689 2.08386,3.5086 0.69463,4.21033 0.69462,4.21033 -0.69462,4.91205 -2.08387,4.91205 -3.53322,3.81622 -4.82595,3.28764 z\" id=\"path523\" sodipodi:nodetypes=\"ccccccccccccccccccccccccccccccccc\"/></g><g id=\"pulley1\"><ellipse fill=\"#cccccc\" cx=\"105.89919\" cy=\"283.93863\" id=\"circle11270-4-6-4-2\" style=\"fill:#999999;stroke-width:3.78292\" rx=\"20.54394\" ry=\"20.543941\"/><ellipse fill=\"#4c4c4c\" cx=\"105.89874\" cy=\"283.91531\" id=\"circle11272-8-0-7-4\" style=\"fill:#666666;stroke-width:3.78292\" rx=\"5.8632874\" ry=\"5.863287\"/><ellipse fill=\"#b2b2b2\" cx=\"105.89874\" cy=\"283.93863\" id=\"circle11274-3-6-0-2\" style=\"fill:#b3b3b3;stroke-width:3.78292\" rx=\"5.4332342\" ry=\"5.4332337\"/><path fill=\"#4c4c4c\" d=\"m 114.04985,297.88188 -2.9075,-5.0527 c 0,0 3.76718,-2.09736 4.70941,-6.1016 0.95789,-4.07111 -0.99175,-7.96021 -0.99175,-7.96021 l 5.10012,-2.90752 c 0,0 2.81271,4.37969 1.9543,10.67726 -0.0529,0.38686 -0.24698,1.14497 -0.33362,1.5255 -1.48614,6.51556 -7.53102,9.81927 -7.53102,9.81927 z\" id=\"path11276-6-8-2-3\" style=\"fill:#4d4d4d;stroke-width:3.78292\"/><path fill=\"#4c4c4c\" d=\"m 114.04012,269.90979 -2.90158,5.05567 c 0,0 -3.70838,-2.19894 -7.64277,-0.99683 -3.999578,1.22201 -6.377978,4.86476 -6.377978,4.86476 l -5.079791,-2.94265 c 0,0 2.367826,-4.63492 8.240839,-7.06413 0.36105,-0.14941 1.11366,-0.36317 1.48572,-0.48001 6.37797,-1.99662 12.27556,1.56318 12.27556,1.56319 z\" id=\"path11278-5-6-1-20\" style=\"fill:#4d4d4d;stroke-width:3.78292\"/><path fill=\"#4c4c4c\" d=\"m 89.834377,283.96357 5.82902,-0.0255 c 0,0 -0.04226,4.31111 2.970585,7.11196 3.062848,2.84741 7.407408,3.07853 7.407408,3.07853 l 10e-4,5.87048 c 0,0 -5.19747,0.27595 -10.244258,-3.58732 -0.310666,-0.23745 -0.873223,-0.78137 -1.16063,-1.04465 -4.926133,-4.51641 -4.803827,-11.40403 -4.803827,-11.40403 z\" id=\"path11280-1-2-4-2\" style=\"fill:#4d4d4d;stroke-width:3.78292\"/></g><g id=\"pulley2\"><ellipse fill=\"#cccccc\" cx=\"436.43179\" cy=\"283.86786\" id=\"circle11270-4-6-4-2-7\" style=\"fill:#999999;stroke-width:3.78292\" rx=\"20.54394\" ry=\"20.543941\"/><ellipse fill=\"#4c4c4c\" cx=\"436.43134\" cy=\"283.84454\" id=\"circle11272-8-0-7-4-2\" style=\"fill:#666666;stroke-width:3.78292\" rx=\"5.8632874\" ry=\"5.863287\"/><ellipse fill=\"#b2b2b2\" cx=\"436.43134\" cy=\"283.86786\" id=\"circle11274-3-6-0-2-9\" style=\"fill:#b3b3b3;stroke-width:3.78292\" rx=\"5.4332342\" ry=\"5.4332337\"/><path fill=\"#4c4c4c\" d=\"m 444.58244,297.81114 -2.9075,-5.0527 c 0,0 3.76718,-2.09736 4.70941,-6.1016 0.95789,-4.07111 -0.99175,-7.96021 -0.99175,-7.96021 l 5.10012,-2.90752 c 0,0 2.81271,4.37969 1.9543,10.67726 -0.0529,0.38686 -0.24698,1.14497 -0.33362,1.5255 -1.48614,6.51556 -7.53102,9.81927 -7.53102,9.81927 z\" id=\"path11276-6-8-2-3-3\" style=\"fill:#4d4d4d;stroke-width:3.78292\"/><path fill=\"#4c4c4c\" d=\"m 444.57271,269.83905 -2.90158,5.05567 c 0,0 -3.70838,-2.19894 -7.64277,-0.99683 -3.99958,1.22201 -6.37798,4.86476 -6.37798,4.86476 L 422.57059,275.82 c 0,0 2.36783,-4.63492 8.24084,-7.06413 0.36105,-0.14941 1.11366,-0.36317 1.48572,-0.48001 6.37797,-1.99662 12.27556,1.56318 12.27556,1.56319 z\" id=\"path11278-5-6-1-20-9\" style=\"fill:#4d4d4d;stroke-width:3.78292\"/><path fill=\"#4c4c4c\" d=\"m 420.36697,283.89283 5.82902,-0.0255 c 0,0 -0.0423,4.31111 2.97058,7.11196 3.06285,2.84741 7.40741,3.07853 7.40741,3.07853 l 10e-4,5.87048 c 0,0 -5.19747,0.27595 -10.24426,-3.58732 -0.31066,-0.23745 -0.87322,-0.78137 -1.16063,-1.04465 -4.92613,-4.51641 -4.80383,-11.40403 -4.80383,-11.40403 z\" id=\"path11280-1-2-4-2-6\" style=\"fill:#4d4d4d;stroke-width:3.78292\"/></g><g id=\"pallet\" transform=\"translate(-18.575112,-5.8125592)\" style=\"fill:#808000\"><g id=\"p3\" transform=\"translate(47.786457,0.68975504)\"><rect style=\"fill:#1a1a1a;stroke:#000000;stroke-width:1.37953;stroke-opacity:1\" id=\"rect22314-5\" width=\"44.694069\" height=\"32.558804\" x=\"521.06403\" y=\"304.70984\" rx=\"5.302444\" ry=\"5.1377201\"/><text xml:space=\"preserve\" style=\"font-size:13.0579px;font-family:PMingLiU-ExtB;-inkscape-font-specification:PMingLiU-ExtB;fill:#ffffff;stroke-width:1.37953\" x=\"559.75244\" y=\"307.1554\" id=\"text1201-4\" transform=\"scale(0.94174674,1.0618566)\"><tspan sodipodi:role=\"line\" id=\"tspan1199-2\" x=\"559.75244\" y=\"307.1554\" style=\"font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:13.0579px;font-family:Tahoma;-inkscape-font-specification:'Tahoma Bold';fill:#ffffff;stroke-width:1.37953\">Black</tspan></text></g><g id=\"p2\" transform=\"translate(47.786457,0.68975504)\" style=\"fill:#808000\"><rect style=\"fill:#ffff00;stroke:#000000;stroke-width:1.37953;stroke-opacity:1\" id=\"rect22314\" width=\"44.694069\" height=\"32.558804\" x=\"476.97348\" y=\"304.90417\" rx=\"5.302444\" ry=\"5.1377201\"/><text xml:space=\"preserve\" style=\"font-size:13.0579px;font-family:PMingLiU-ExtB;-inkscape-font-specification:PMingLiU-ExtB;fill:#000000;stroke-width:1.37953\" x=\"508.28317\" y=\"307.32248\" id=\"text1201\" transform=\"scale(0.94174674,1.0618566)\"><tspan sodipodi:role=\"line\" id=\"tspan1199\" x=\"508.28317\" y=\"307.32248\" style=\"font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:13.0579px;font-family:Tahoma;-inkscape-font-specification:'Tahoma Bold';fill:#000000;stroke-width:1.37953\">Yellow</tspan></text></g><g id=\"p1\" transform=\"translate(47.786457,0.68975504)\" style=\"fill:#808000\"><rect style=\"fill:#e6e6e6;stroke:#000000;stroke-width:1.37953;stroke-opacity:1\" id=\"rect22314-52\" width=\"44.694069\" height=\"32.558804\" x=\"432.88293\" y=\"304.90417\" rx=\"5.302444\" ry=\"5.1377201\"/><text xml:space=\"preserve\" style=\"font-size:13.0579px;font-family:PMingLiU-ExtB;-inkscape-font-specification:PMingLiU-ExtB;fill:#000000;stroke-width:1.37953\" x=\"475.33997\" y=\"307.23322\" id=\"text1201-5\" transform=\"scale(0.94174674,1.0618566)\"><tspan sodipodi:role=\"line\" id=\"tspan1199-0\" x=\"475.33997\" y=\"307.23322\" style=\"font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:13.0579px;font-family:Tahoma;-inkscape-font-specification:'Tahoma Bold';fill:#000000;stroke-width:1.37953\">Al</tspan></text></g><text xml:space=\"preserve\" style=\"font-size:16px;font-family:Tahoma;-inkscape-font-specification:Tahoma;fill:#00ffff;fill-opacity:0.992157;stroke:#000000;stroke-width:1.37953;stroke-opacity:1\" x=\"493.20782\" y=\"357.46152\" id=\"text5912\"><tspan sodipodi:role=\"line\" id=\"tspan5910\" x=\"493.20782\" y=\"357.46152\" style=\"font-size:16px;fill:#00ffff;fill-opacity:0.992157;stroke:none\">P1</tspan></text><text xml:space=\"preserve\" style=\"font-size:16px;font-family:Tahoma;-inkscape-font-specification:Tahoma;fill:#00ffff;fill-opacity:0.996078;stroke:#000000;stroke-width:1.37953;stroke-opacity:1\" x=\"538.09137\" y=\"357.56308\" id=\"text5912-1\"><tspan sodipodi:role=\"line\" id=\"tspan5910-6\" x=\"538.09137\" y=\"357.56308\" style=\"font-size:16px;fill:#00ffff;fill-opacity:0.996078;stroke:none\">P2</tspan></text><text xml:space=\"preserve\" style=\"font-size:16px;font-family:Tahoma;-inkscape-font-specification:Tahoma;fill:#00ffff;fill-opacity:0.996078;stroke:#000000;stroke-width:1.37953;stroke-opacity:1\" x=\"583.56866\" y=\"357.44199\" id=\"text5912-1-5\"><tspan sodipodi:role=\"line\" id=\"tspan5910-6-1\" x=\"583.56866\" y=\"357.44199\" style=\"font-size:16px;fill:#00ffff;fill-opacity:0.996078;stroke:none\">P3</tspan></text></g><g id=\"ind\"><path fill=\"url(#SVGID_1_)\" d=\"m 240.11206,191.65556 h 12.12795 l 10e-6,-56.68186 h -12.12795 z\" id=\"ind_body\" style=\"fill:#808080;stroke-width:0.568889\"/><path fill=\"#7f7f7f\" d=\"m 234.09677,176.3689 h 24.15853 v -3.55689 h -24.15853 z\" id=\"path903\" style=\"fill:#666666;stroke-width:0.568889\"/><path fill=\"#7f7f7f\" d=\"m 234.09677,185.82864 24.15853,1e-5 v -3.5569 h -24.15853 z\" id=\"path905\" style=\"fill:#666666;stroke-width:0.568889\"/><path fill=\"#ffffff\" stroke=\"#4c4c4c\" stroke-width=\"0.142223\" d=\"m 238.55955,185.82865 h 15.13559 v -3.5569 h -15.13559 z\" id=\"path907\" style=\"fill:#b3b3b3\"/><path fill=\"#ffffff\" stroke=\"#4c4c4c\" stroke-width=\"0.142223\" d=\"m 238.55958,176.3689 h 15.13556 l 3e-5,-3.55689 h -15.13559 z\" id=\"path909\" style=\"fill:#b3b3b3\"/><path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.142223\" d=\"m 240.11207,151.54656 h 12.12795 v -5.90218 h -12.12795 v 5.90218\" id=\"path912cap\" style=\"fill:#cccccc\"/><path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.142223\" d=\"m 240.11207,150.33696 12.12795,1e-5 V 146.856 h -12.12795 v 3.48096\" id=\"capss\" style=\"fill:#cccccc\"/><path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.142223\" d=\"m 240.11207,149.20128 h 12.12795 v -1.21161 l -12.12795,-1e-5 v 1.21162\" id=\"pathcap\" style=\"fill:#cccccc\"/><path fill=\"url(#SVGID_3_)\" stroke=\"#4c4c4c\" stroke-width=\"0.142223\" d=\"m 240.11207,144.43344 12.12795,1e-5 v -8.24747 h -12.12795 z\" id=\"ind_head\" style=\"fill:#ff0000\"/><path fill=\"none\" stroke=\"#ffffff\" stroke-width=\"0.142223\" d=\"m 241.56723,138.5306 h 9.11942\" id=\"path928\"/><path fill=\"none\" stroke=\"#ffffff\" stroke-width=\"0.142223\" d=\"m 241.56723,139.74221 h 9.11942\" id=\"pathcaps\"/></g><g id=\"Machine_Name\" transform=\"matrix(1.2421492,0,0,1.2421492,-12.249342,-14.786314)\" style=\"stroke-width:0.805056\"><rect style=\"fill:#ff0000;stroke:none;stroke-width:0.49859\" id=\"Machine_name\" width=\"108.04478\" height=\"33.726337\" x=\"50.585938\" y=\"61.062836\" rx=\"4.2687659\" ry=\"4.1361542\"/><rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"8.3226795\" ry=\"5.1645956\" y=\"73.971573\" x=\"52.893986\" height=\"18.249285\" width=\"101.95332\" id=\"alarm-77-5\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:1.01781;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\"/><text inkscape:label=\"\" id=\"R802_PT_P19_unit-1\" y=\"80.517891\" x=\"67.255539\" style=\"font-weight:bold;font-size:10.2341px;font-family:Tahoma;fill:#ffffff;stroke-width:0.466579\" transform=\"scale(0.92161882,1.0850473)\"><tspan style=\"fill:#ffffff;stroke-width:0.466579\" id=\"tspan680\">Machine I</tspan></text><text inkscape:label=\"\" id=\"tag-08-3\" y=\"71.258163\" x=\"53.751408\" style=\"font-size:9.28427px;font-family:Tahoma;fill:#ffffff;stroke-width:0.423276\" transform=\"scale(1.0159043,0.9843447)\">Machine Name</text></g><text xml:space=\"preserve\" style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14px;font-family:Tahoma;-inkscape-font-specification:Tahoma;fill:#00ffff;fill-opacity:0.995951;fill-rule:evenodd;stroke:none;stroke-width:1.37953\" x=\"235.88388\" y=\"131.05806\" id=\"text6556\"><tspan sodipodi:role=\"line\" id=\"tspan6554\" x=\"235.88388\" y=\"131.05806\" style=\"fill:#00ffff\">Ind</tspan></text><text xml:space=\"preserve\" style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14px;font-family:Tahoma;-inkscape-font-specification:Tahoma;fill:#00ffff;fill-opacity:0.995951;fill-rule:evenodd;stroke:none;stroke-width:1.37953\" x=\"307.12061\" y=\"130.85886\" id=\"text6556-1\"><tspan sodipodi:role=\"line\" id=\"tspan6554-7\" x=\"307.12061\" y=\"130.85886\" style=\"fill:#00ffff\">Cap</tspan></text><text xml:space=\"preserve\" style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14px;font-family:Tahoma;-inkscape-font-specification:Tahoma;fill:#00ffff;fill-opacity:0.995951;fill-rule:evenodd;stroke:none;stroke-width:1.37953\" x=\"271.50714\" y=\"130.25717\" id=\"text6556-1-8\"><tspan sodipodi:role=\"line\" id=\"tspan6554-7-0\" x=\"271.50714\" y=\"130.25717\" style=\"fill:#00ffff\">Opt</tspan></text><g id=\"capcitive\" transform=\"matrix(0.65481785,0,0,0.51860586,307.59371,133.92953)\" style=\"stroke-width:0.976224\"><g id=\"Group_Sensor_Yellow_Part\" transform=\"matrix(0.9999999,3.019916e-7,3.019916e-7,-0.9999999,0,112)\" style=\"stroke-width:0.976224\">\n\t<linearGradient id=\"SVGID_1_-8\" gradientUnits=\"userSpaceOnUse\" x1=\"5.0688\" y1=\"41.498001\" x2=\"26.2402\" y2=\"41.498001\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#FFFF00\" id=\"stop7741\"/>\n\t\t<stop offset=\"0.5\" style=\"stop-color:#FFFFBD\" id=\"stop7743\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#FFFF00\" id=\"stop7745\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_1_)\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,0 H 26.24 V 82.996 H 5.069 Z\" id=\"cap_body\" style=\"fill:#808080;fill-opacity:1\"/>\n</g><g id=\"Group_Tip\" transform=\"matrix(0.9999999,3.019916e-7,3.019916e-7,-0.9999999,0,112)\" style=\"fill:#4d4d4d;stroke-width:0.976224\">\n\t<path fill=\"#ffff00\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"m 8.672,110.698 1.802,1.802 10.584,-0.113 1.803,-1.688 z\" id=\"path7751\" style=\"fill:#4d4d4d\"/>\n</g><g id=\"cap_\" transform=\"matrix(0.9999999,3.019916e-7,3.019916e-7,-0.9999999,0,112)\" style=\"fill:#ececec;stroke-width:0.976224\">\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,77.814 H 26.24\" id=\"path7754\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,75.113 H 26.24\" id=\"path7756\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,46.847 H 26.24\" id=\"path7758\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,44.144 H 26.24\" id=\"path7760\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,41.667 H 26.24\" id=\"path7762\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,39.077 H 26.24\" id=\"path7764\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,36.486 H 26.24\" id=\"path7766\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,33.896 H 26.24\" id=\"path7768\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,13.063 H 26.24\" id=\"path7770\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,10.585 H 26.24\" id=\"path7772\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,7.996 H 26.24\" id=\"path7774\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,5.293 H 26.24\" id=\"path7776\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,2.703 H 26.24\" id=\"path7778\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,72.748 H 26.24\" id=\"path7780\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,70.045 H 26.24\" id=\"path7782\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,67.455 H 26.24\" id=\"path7784\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,64.865 H 26.24\" id=\"path7786\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,62.387 H 26.24\" id=\"path7788\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,59.91 H 26.24\" id=\"path7790\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,57.32 H 26.24\" id=\"path7792\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,54.729 H 26.24\" id=\"path7794\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,52.027 H 26.24\" id=\"path7796\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,49.437 H 26.24\" id=\"path7798\" style=\"fill:#b3b3b3\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"M 5.069,23.311 H 26.24\" id=\"path7800\" style=\"fill:#b3b3b3\"/>\n</g><g id=\"Group_Green_Part\" transform=\"matrix(0.9999999,3.019916e-7,3.019916e-7,-0.9999999,0,112)\" style=\"stroke-width:0.976224\">\n\t<linearGradient id=\"SVGID_2_-2\" gradientUnits=\"userSpaceOnUse\" x1=\"6.8701\" y1=\"89.808601\" x2=\"24.5488\" y2=\"89.808601\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#00FF00\" id=\"stop7803\"/>\n\t\t<stop offset=\"0.5\" style=\"stop-color:#EBEBEB\" id=\"stop7805\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#00FF00\" id=\"stop7807\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_2_)\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"m 7.095,82.996 h 17.23 0.112 v 0.111 l 0.111,0.112 v 0.113 13.063 0.111 h -0.111 v 0.112 H 24.325 7.095 6.983 L 6.87,96.509 v 0 -0.112 -13.063 -0.113 -0.113 l 0.112,-0.11 z\" id=\"cap_head\" style=\"fill:#ff0000\"/>\n</g><g id=\"Group_Pipe\" transform=\"matrix(0.9999999,3.019916e-7,3.019916e-7,-0.9999999,0,112)\" style=\"stroke-width:0.976224\">\n\t<linearGradient id=\"SVGID_3_-1\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"18.0742\" x2=\"31.0811\" y2=\"18.0742\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop7813\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop7815\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop7817\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_3_)\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"m 0,15.428 h 31.081 v 5.293 H 0 Z\" id=\"path7820\" style=\"fill:#808080\"/>\n\t<linearGradient id=\"SVGID_4_-6\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"28.434601\" x2=\"31.0811\" y2=\"28.434601\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop7822\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop7824\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop7826\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_4_)\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"m 0,25.788 h 31.081 v 5.293 H 0 Z\" id=\"path7829\" style=\"fill:#808080\"/>\n</g><g id=\"Group_Layer_5\" transform=\"matrix(0.9999999,3.019916e-7,3.019916e-7,-0.9999999,0,112)\" style=\"stroke-width:0.976224\">\n\t<linearGradient id=\"SVGID_5_\" gradientUnits=\"userSpaceOnUse\" x1=\"6.9829001\" y1=\"103.6592\" x2=\"24.549801\" y2=\"103.6592\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop7832\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop7834\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop7836\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_5_)\" stroke=\"#4c4c4c\" stroke-width=\"0.244056\" d=\"m 6.983,96.621 1.576,5.406 v 8.671 l 14.302,-0.226 v -8.56 l 1.688,-5.293 z\" id=\"path7839\" style=\"fill:url(#SVGID_5_)\"/>\n</g></g><g id=\"photo\" transform=\"matrix(0.56888889,0,0,0.5162431,273.10321,135.04724)\" style=\"stroke-width:1.04975\"><g id=\"opt_h\" transform=\"matrix(0.9999999,3.019916e-7,3.019916e-7,-0.9999999,0,112)\" style=\"fill:#ff0000;stroke-width:1.04975\">\n\t<linearGradient id=\"SVGID_1_-31\" gradientUnits=\"userSpaceOnUse\" x1=\"3.3778999\" y1=\"97.180702\" x2=\"30.627899\" y2=\"97.180702\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#FFFF00\" id=\"stop2678\"/>\n\t\t<stop offset=\"0.5\" style=\"stop-color:#FFFFBD\" id=\"stop2680\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#FFFF00\" id=\"stop2682\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_1_)\" stroke=\"#4c4c4c\" stroke-width=\"0.262438\" d=\"m 6.756,81.867 -3.378,3.377 3.378,3.266 v 17.115 l -3.265,3.379 3.265,3.49 H 27.25 l 3.378,-3.49 -3.378,-3.379 V 88.51 l 3.378,-3.377 -3.378,-3.266 z\" id=\"opt_head\" style=\"fill:#ff0000\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.262438\" d=\"M 10.247,88.623 H 23.872\" id=\"path2687\" style=\"fill:#ff0000\"/>\n\t<path fill=\"none\" stroke=\"#4c4c4c\" stroke-width=\"0.262438\" d=\"M 10.247,105.738 H 23.872\" id=\"path2689\" style=\"fill:#ff0000\" inkscape:label=\"path2689\"/>\n</g><g id=\"Group_Sensor\" transform=\"matrix(0.9999999,3.019916e-7,3.019916e-7,-0.9999999,0,112)\" style=\"stroke-width:1.04975\">\n\t<linearGradient id=\"SVGID_2_-06\" gradientUnits=\"userSpaceOnUse\" x1=\"3.3778999\" y1=\"40.879902\" x2=\"30.627899\" y2=\"40.879902\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop2692\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop2694\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop2696\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_2_)\" stroke=\"#4c4c4c\" stroke-width=\"0.262438\" d=\"M 3.378,0.006 V 54.505 L 6.756,81.754 H 27.25 L 30.628,54.392 V 0.006 Z\" id=\"opt_body\" style=\"fill:#808080\"/>\n\t<linearGradient id=\"SVGID_3_-5\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"44.257801\" x2=\"34.005901\" y2=\"44.257801\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop2701\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop2703\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop2705\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_3_)\" stroke=\"#4c4c4c\" stroke-width=\"0.262438\" d=\"M 0,34.011 H 34.006 V 54.505 H 0 Z\" id=\"path2708\" style=\"fill:#b3b3b3\"/>\n\t<linearGradient id=\"SVGID_4_-5\" gradientUnits=\"userSpaceOnUse\" x1=\"0\" y1=\"17.008801\" x2=\"34.005901\" y2=\"17.008801\">\n\t\t<stop offset=\"0.01\" style=\"stop-color:#4D4D4D\" id=\"stop2710\"/>\n\t\t<stop offset=\"0.51\" style=\"stop-color:#F5F5F5\" id=\"stop2712\"/>\n\t\t<stop offset=\"1\" style=\"stop-color:#4D4D4D\" id=\"stop2714\"/>\n\t</linearGradient>\n\t<path fill=\"url(#SVGID_4_)\" stroke=\"#4c4c4c\" stroke-width=\"0.262438\" d=\"M 0,6.762 H 34.006 V 27.255 H 0 Z\" id=\"path2717\" style=\"fill:#b3b3b3\"/>\n</g></g><g id=\"ob\" transform=\"translate(-6.1498694,15.374674)\"><path id=\"object_body\" style=\"fill:#cccccc;stroke-width:1\" d=\"m 123.32965,212.84052 h 34.79949 c 1.53811,0 2.77639,0.0394 2.77639,0.0884 v 18.90881 c 0,0.049 -1.23828,0.0884 -2.77639,0.0884 h -34.79949 c -1.53812,0 -2.7764,-0.0394 -2.7764,-0.0884 V 212.9289 c 0,-0.049 1.23828,-0.0884 2.7764,-0.0884 z\"/><path id=\"object_under\" style=\"fill:#cccccc;stroke-width:1\" d=\"m 160.47625,231.80531 a 19.746862,3.9862299 0 0 1 -19.74686,3.98623 19.746862,3.9862299 0 0 1 -19.74685,-3.98623 19.746862,3.9862299 0 0 1 19.74685,-3.98623 19.746862,3.9862299 0 0 1 19.74686,3.98623 z\"/><path id=\"object_ontop\" style=\"fill:#4d4d4d;stroke-width:1\" d=\"m 160.90554,213.44449 a 20.068821,6.6437163 0 0 1 -20.06882,6.64371 20.068821,6.6437163 0 0 1 -20.06882,-6.64371 20.068821,6.6437163 0 0 1 20.06882,-6.64372 20.068821,6.6437163 0 0 1 20.06882,6.64372 z\"/></g><g id=\"Dobot_m1\"><g id=\"g21716\" style=\"fill:#000000\"><path style=\"fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 620.37731,196.39574 v 26.05678 h -15.80929 z\" id=\"path15833\"/><path style=\"fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 518.4807,211.57902 -0.38795,28.9329 13.06069,-12.67216 z\" id=\"path15835\"/><rect style=\"fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.41589\" id=\"rect14306-0\" width=\"86.893547\" height=\"55.694458\" x=\"597.93976\" y=\"88.533302\" rx=\"14.07981\" ry=\"14.07981\" transform=\"matrix(0.97867466,0.20541644,-0.50266803,0.86447953,0,0)\"/><rect style=\"fill:#4d4d4d;fill-opacity:1;stroke:none;stroke-width:1.41589\" id=\"rect14306\" width=\"86.893539\" height=\"55.694458\" x=\"584.72742\" y=\"67.797882\" rx=\"14.07981\" ry=\"14.07981\" transform=\"matrix(0.98115718,0.19321126,-0.49186208,0.87067313,0,0)\"/></g><g id=\"m1_body\"><path style=\"fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 537.53914,56.619472 1.63094,148.537118 61.42047,-2.34352 V 50.900212 Z\" id=\"path13365\" sodipodi:nodetypes=\"ccccc\"/><ellipse style=\"fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:1.37984\" id=\"path13367-6\" cx=\"570.85956\" cy=\"217.99136\" rx=\"30.696932\" ry=\"12.533099\" transform=\"matrix(0.99970136,-0.02443745,-0.00388004,0.99999247,0,0)\"/><path style=\"fill:#999999;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 600.14362,71.245813 c -0.99812,0.0799 -2.85657,1.531984 -5.54083,3.024339 -2.68425,1.492355 -6.1946,3.025083 -9.7737,4.154511 -3.5791,1.129429 -7.2271,1.855455 -9.15455,2.258793 -1.92744,0.403338 -2.13398,0.484031 -2.40957,23.032944 -0.27559,22.54892 -0.61975,67.56272 -0.79183,90.11037 -0.17208,22.54765 -0.17208,22.6285 0.5168,22.62772 0.68888,-7.8e-4 2.0655,-0.0814 2.5819,-0.16193 0.51641,-0.0805 0.17222,-0.16115 0.20594,-22.3054 0.0337,-22.14424 0.4467,-66.35131 0.68755,-88.49625 0.24085,-22.144943 0.30968,-22.225611 1.41152,-22.467794 1.10185,-0.242183 3.23557,-0.645537 5.71339,-1.371616 2.47781,-0.726078 5.29985,-1.774779 8.32838,-3.146197 3.02853,-1.371418 6.26356,-3.065481 7.81216,-4.557088 1.54861,-1.491607 1.41096,-2.782302 0.41284,-2.702402 z\" id=\"path16551-7\" inkscape:path-effect=\"#path-effect16553-8-2\" inkscape:original-d=\"m 601.00392,69.873648 c -1.85731,1.45349 -3.71577,2.90556 -5.57538,4.35628 -3.50931,1.53417 -7.01966,3.06689 -10.53126,4.59828 -3.64698,0.72743 -7.29498,1.45347 -10.94422,2.17812 -0.20536,0.082 -0.41185,0.16283 -0.6195,0.24203 -0.34299,45.016972 -0.68715,90.030772 -1.0325,135.044062 10e-4,0.082 10e-4,0.16285 0,0.24204 1.37785,-0.0792 2.75446,-0.1601 4.12993,-0.24204 -0.34301,-0.0792 -0.68715,-0.16007 -1.03248,-0.24201 0.41417,-44.20748 0.82715,-88.41455 1.23897,-132.623922 0.0699,-0.0795 0.13883,-0.16008 0.20649,-0.24201 2.13502,-0.402 4.26874,-0.80536 6.40136,-1.2101 2.82332,-1.04735 5.64535,-2.09607 8.46629,-3.14617 3.23634,-1.69277 6.47136,-3.38685 9.70528,-5.08229 -0.13657,-1.28941 -0.27417,-2.58011 -0.41298,-3.87227 z\"/><path style=\"fill:#999999;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 600.29498,77.618852 c -0.79702,0.07623 -2.28086,1.459589 -4.42403,2.881267 -2.14318,1.421678 -4.94593,2.881856 -7.80353,3.957791 -2.85761,1.075936 -5.77027,1.767593 -7.30924,2.151873 -1.53897,0.384279 -1.70388,0.461155 -1.92382,21.942767 -0.21995,21.4816 -0.49473,64.36485 -0.63212,85.84534 -0.13739,21.48049 -0.13739,21.55743 0.41261,21.55669 0.55,-7.4e-4 1.64914,-0.0776 2.06152,-0.15425 0.41239,-0.0767 0.13752,-0.15353 0.16441,-21.24967 0.0269,-21.09614 0.35663,-63.21084 0.54884,-84.30752 0.19222,-21.096682 0.2472,-21.173565 1.12697,-21.404381 0.87976,-0.230815 2.58338,-0.61508 4.5617,-1.306763 1.97831,-0.691683 4.23151,-1.690746 6.64955,-2.997229 2.41804,-1.306483 5.00099,-2.920378 6.23753,-4.341464 1.23654,-1.421085 1.12664,-2.650684 0.32961,-2.574451 z\" id=\"path16551-7-1\" inkscape:path-effect=\"#path-effect16553-8-1-2\" inkscape:original-d=\"m 600.98197,76.311558 c -1.48293,1.38469 -2.96676,2.76805 -4.45153,4.1501 -2.80193,1.46156 -5.60469,2.92171 -8.40844,4.38064 -2.91185,0.69298 -5.8245,1.38466 -8.73816,2.07502 -0.16395,0.0782 -0.32884,0.15512 -0.49463,0.23058 -0.27384,42.886262 -0.54863,85.769512 -0.82436,128.652282 9.3e-4,0.0782 9.3e-4,0.15514 0,0.23058 1.10011,-0.0753 2.19923,-0.15252 3.29744,-0.23058 -0.27387,-0.0753 -0.54865,-0.1525 -0.82436,-0.23056 0.33068,-42.11509 0.66041,-84.22979 0.98923,-126.346692 0.0559,-0.0756 0.11084,-0.15251 0.16487,-0.23056 1.70465,-0.38298 3.40827,-0.76724 5.11101,-1.15283 2.25421,-0.99777 4.5074,-1.99685 6.75971,-2.99724 2.58398,-1.61266 5.16692,-3.22656 7.74895,-4.84176 -0.10901,-1.22839 -0.2189,-2.45799 -0.32973,-3.68898 z\"/></g><g id=\"m1_top\"><ellipse style=\"fill:#1a1a1a;fill-opacity:1;stroke:none;stroke-width:1.37991\" id=\"path13367\" cx=\"562.96735\" cy=\"119.75543\" rx=\"31.765734\" ry=\"13.19505\" transform=\"matrix(0.99326403,-0.11587302,0.08292056,0.99655616,0,0)\"/><path style=\"fill:#1a1a1a;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 541.49213,44.285763 -3.96358,12.32407 62.73502,-7.852859 -4.6539,-8.919697 z\" id=\"path15037\" sodipodi:nodetypes=\"ccccc\"/><ellipse style=\"fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:1.37986\" id=\"Dobot_top\" cx=\"564.97546\" cy=\"96.216278\" rx=\"27.299559\" ry=\"10.759781\" transform=\"matrix(0.99559216,-0.09378832,0.06336717,0.99799028,0,0)\"/></g><g id=\"m1_head\"><ellipse style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.38026\" id=\"Dobot_status2\" cx=\"566.05219\" cy=\"99.808983\" rx=\"24.813177\" ry=\"10.75599\" transform=\"matrix(0.99466205,-0.10318631,0.0575623,0.99834192,0,0)\"/><path style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 588.30422,28.775429 5.12507,8.924681 -19.70498,6.892316 -29.51329,-2.032344 3.88798,-9.719943 z\" id=\"Dobot_status1\"/><ellipse style=\"fill:#aa0000;fill-opacity:1;stroke:none;stroke-width:1.38045\" id=\"Dobot_status0\" cx=\"566.37561\" cy=\"92.254807\" rx=\"20.292091\" ry=\"9.1190939\" transform=\"matrix(0.99426046,-0.10698665,0.05550165,0.9984586,0,0)\"/><ellipse style=\"fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:1.38045\" id=\"Dobot_top-2-6\" cx=\"565.9259\" cy=\"91.689011\" rx=\"15.831653\" ry=\"7.1146097\" transform=\"matrix(0.99426046,-0.10698665,0.05550164,0.9984586,0,0)\"/></g><g id=\"Arm\" inkscape:label=\"Arm\"><g id=\"JointX2\"><path style=\"fill:#999999;fill-opacity:1;stroke:none;stroke-width:1.37952\" d=\"m 551.75173,140.7029 -56.70447,1.46196 2.69587,14.43045 53.99116,1.00667 z\" id=\"path15972\" sodipodi:nodetypes=\"ccccc\"/><path style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 551.75174,153.74888 -0.0441,7.7062 -10.35321,5.46053 0.0624,-11.74665 z\" id=\"path16532\" sodipodi:nodetypes=\"ccccc\"/><path style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 529.06693,167.17664 c 0.209,0.19856 0.62554,0.59428 1.22966,0.92712 0.60413,0.33284 1.39556,0.6036 2.38472,0.72825 0.98916,0.12466 2.1763,0.10383 3.29054,0.0621 1.11424,-0.0417 2.1556,-0.10417 3.53,-0.40627 1.3744,-0.3021 3.08221,-0.84361 4.94603,-1.74959 1.86381,-0.90598 3.88403,-2.17643 5.27002,-3.14716 1.38599,-0.97074 2.13795,-1.64183 1.98253,-2.13102 -0.15541,-0.48919 -1.21979,-0.79695 -2.89758,-1.08637 -1.67778,-0.28942 -3.96875,-0.56017 -7.24946,0.0124 -3.28071,0.57254 -7.55024,1.98877 -9.8314,3.22864 -2.28116,1.23986 -2.57274,2.30202 -2.7184,2.83264 -0.14566,0.53063 -0.14566,0.53071 0.0633,0.72926 z\" id=\"path16534\" inkscape:path-effect=\"#path-effect16536-0\" inkscape:original-d=\"m 528.85793,166.97809 c 0.41797,0.39714 0.8345,0.79287 1.24963,1.18717 0.79288,0.27216 1.58431,0.54293 2.37433,0.81227 1.18861,-0.0194 2.37574,-0.0403 3.56149,-0.0625 1.0428,-0.061 2.08416,-0.12358 3.12411,-0.18745 1.7093,-0.5401 3.41711,-1.08161 5.12353,-1.62454 2.02171,-1.26908 4.04193,-2.53953 6.06077,-3.81141 0.75344,-0.66974 1.50539,-1.34084 2.25598,-2.01341 -1.06302,-0.30636 -2.1274,-0.61413 -3.1932,-0.92332 -2.28965,-0.26935 -4.58062,-0.54009 -6.87305,-0.81227 -4.26828,1.4177 -8.53781,2.83394 -12.80884,4.24879 -0.29018,1.06364 -0.58175,2.1258 -0.87475,3.18659 z\" sodipodi:nodetypes=\"ccccccccccccc\"/><rect style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" id=\"rect16404\" width=\"43.673679\" height=\"10.507748\" x=\"497.74313\" y=\"156.59531\"/></g><g id=\"JointY\" style=\"fill:#4d4d4d\"><path style=\"fill:#4d4d4d;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 565.9731,93.724938 -1.14873,43.651392 -4.50652,2.12071 v 9.89668 l -43.12121,-0.2651 -0.7069,-52.045892 z\" id=\"path15901\"/><path style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 537.10819,82.566327 c -1.47234,0.552649 -4.41778,1.658238 -7.15721,2.917961 -2.73943,1.259723 -5.27244,2.673496 -7.08414,3.925456 -1.81171,1.251959 -2.9015,2.341754 -3.7263,3.254949 -0.82481,0.913195 -1.38444,1.649547 -1.85859,2.664604 -0.47416,1.015056 -0.86271,2.308035 -0.64099,3.398141 0.22173,1.090107 1.05211,1.976692 2.46891,3.053062 1.4168,1.07636 3.41966,2.34288 5.79071,3.12298 2.37105,0.78011 5.11026,1.07465 7.24564,1.20709 2.13538,0.13244 3.66697,0.10297 5.94956,-0.23587 2.28259,-0.33884 5.31633,-0.98682 7.92274,-1.95884 2.60641,-0.97202 4.78599,-2.26799 8.11802,-4.044963 3.33204,-1.776976 7.81611,-4.034785 10.04054,-5.161775 2.22443,-1.12699 2.1885,-1.123232 0.97743,-1.304884 -1.21107,-0.181653 -3.59744,-0.549085 -5.60066,-0.865344 -2.00321,-0.316259 -3.62317,-0.581345 -5.08113,-0.890521 -1.45797,-0.309177 -2.75394,-0.662624 -4.3003,-1.280986 -1.54636,-0.618361 -3.34304,-1.501973 -5.11038,-2.584266 -1.76733,-1.082294 -3.50507,-2.363509 -4.58048,-3.357889 -1.07542,-0.994381 -1.48776,-1.702315 -1.69443,-2.05713 -0.20667,-0.354814 -0.20661,-0.354424 -1.67894,0.198225 z\" id=\"path15897\" inkscape:path-effect=\"#path-effect15899-2\" inkscape:original-d=\"m 538.58052,82.013678 c -2.94403,1.107 -5.88947,2.21259 -8.83631,3.31676 -2.53172,1.41525 -5.06473,2.82903 -7.59924,4.24143 -1.08842,1.09125 -2.17821,2.18105 -3.26943,3.26943 -0.55823,0.73779 -1.11786,1.47414 -1.6789,2.20908 -0.38717,1.29448 -0.77572,2.58746 -1.16571,3.87911 0.83181,0.88801 1.66219,1.774602 2.49115,2.659762 2.00436,1.26798 4.00721,2.5345 6.0087,3.79963 2.74072,0.29595 5.47993,0.5905 8.21778,0.88362 1.53307,-0.028 3.06466,-0.0575 4.59488,-0.0884 3.03528,-0.64659 6.06902,-1.29458 9.1014,-1.94399 2.18108,-1.2946 4.36066,-2.59057 6.53887,-3.88798 4.48572,-2.256512 8.96979,-4.514322 13.45264,-6.773642 -0.0347,0.005 -0.0706,0.009 -0.10803,0.0113 -2.38506,-0.36603 -4.77143,-0.73347 -7.15926,-1.10232 -1.61861,-0.26368 -3.23857,-0.52877 -4.85997,-0.79527 -1.2946,-0.35204 -2.59057,-0.70549 -3.88798,-1.06036 -1.79534,-0.88223 -3.59202,-1.76584 -5.39015,-2.65089 -1.73643,-1.27988 -3.47417,-2.56109 -5.21342,-3.8438 -0.41096,-0.70655 -0.8233,-1.41449 -1.23708,-2.12386 z\" sodipodi:nodetypes=\"ccccccccccccccccccccc\"/><path style=\"fill:#4d4d4d;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 560.25925,149.29047 c 0.0298,-0.0149 0.0881,-0.044 0.14697,-0.0735 -3.71125,2.06181 -7.42196,4.12331 -10.41135,5.40462 -2.9894,1.28131 -5.25733,1.78202 -7.20124,2.1208 -1.94392,0.33877 -3.56388,0.51549 -5.08074,0.63335 -1.51685,0.11785 -2.93063,0.17676 -4.77143,0.0149 -1.8408,-0.16184 -4.10873,-0.54474 -5.89068,-0.95695 -1.78196,-0.41221 -3.07793,-0.85401 -4.3298,-1.51645 -1.25188,-0.66245 -2.45949,-1.54606 -3.43182,-2.65772 -0.97234,-1.11165 -1.70869,-2.45179 -2.00705,-3.08854 -0.29837,-0.63675 -0.15958,-0.56925 7.08874,-0.53399 7.24831,0.0352 21.59925,0.039 28.76932,0.10514 7.17008,0.0661 7.15727,0.19343 7.14163,0.2976 -0.0156,0.10416 -0.034,0.18532 -0.0431,0.22544 -0.009,0.0401 -0.009,0.0402 0.0205,0.0253 z\" id=\"path15904\" inkscape:path-effect=\"#path-effect15906-2\" inkscape:original-d=\"m 560.22949,149.30535 c 0.0604,-0.028 0.17673,-0.0884 0.17673,-0.0884 0,0 -7.42102,4.12499 -11.13376,6.18542 -2.26663,0.50214 -4.53456,1.00286 -6.80396,1.50218 -1.61862,0.17813 -3.23858,0.35485 -4.85997,0.53017 -1.41243,0.0604 -2.82621,0.11918 -4.24143,0.17672 -2.26663,-0.38149 -4.53456,-0.7644 -6.80396,-1.14871 -1.2946,-0.44042 -2.59057,-0.88223 -3.88798,-1.32545 -1.20624,-0.88224 -2.41385,-1.76585 -3.62289,-2.6509 -0.73496,-1.33878 -1.47131,-2.67892 -2.20909,-4.02052 0.14025,0.069 0.27908,0.13643 0.41656,0.20261 14.35942,0.005 28.71036,0.01 43.06343,0.0113 -0.0113,0.12865 -0.0244,0.25592 -0.0384,0.38181 -0.0169,0.0827 -0.0353,0.16385 -0.0551,0.24371 z\" sodipodi:nodetypes=\"cccccccccccccc\"/></g><g id=\"JointX\"><rect style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" id=\"rect16428\" width=\"4.3739686\" height=\"12.493074\" x=\"447.79666\" y=\"174.93478\" transform=\"matrix(0.99998622,0.00524926,-0.00586927,0.99998278,0,0)\"/><ellipse style=\"fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.37987\" id=\"path16088-7-9\" cx=\"436.88754\" cy=\"225.2579\" rx=\"29.792706\" ry=\"7.0037279\" transform=\"matrix(0.99282313,-0.11959191,0.15230714,0.98833321,0,0)\"/><path style=\"fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 497.93347,145.94755 -0.38068,21.29552 -59.0067,6.53887 0.47587,-20.50024 z\" id=\"path16415\"/><g id=\"g4652\" style=\"fill:#666666\"><path style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 492.47768,138.8455 5.13916,6.63873 -13.26183,-2.49929 z\" id=\"path16312\"/><ellipse style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37987\" id=\"path16088-7\" cx=\"440.4949\" cy=\"205.10103\" rx=\"29.699717\" ry=\"7.0032144\" transform=\"matrix(0.99277796,-0.11996635,0.15183596,0.98840571,0,0)\"/><path style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 443.83315,144.57792 -4.7716,7.99687 10.25012,-0.86154 1.06036,-5.47851 z\" id=\"path16421\"/></g><path style=\"fill:#999999;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 486.43254,109.61946 6.06077,29.24166 -48.67362,5.81084 -0.3124,-30.4913 z\" id=\"path16263\"/><path style=\"fill:#999999;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 444.06001,144.7454 c 0.30282,0.19839 0.90684,0.59412 1.91699,0.9791 1.01016,0.38499 2.42639,0.75988 3.4261,1.00977 0.99971,0.24988 1.58287,0.37485 3.29062,0.42673 1.70775,0.0519 4.54021,0.031 7.87258,-0.11479 3.33237,-0.14583 7.16455,-0.41659 11.81941,-1.11438 4.65486,-0.69779 10.13235,-1.82245 13.66211,-3.09286 3.52976,-1.27041 5.11262,-2.68665 5.95605,-3.45718 0.84342,-0.77052 0.94752,-0.89544 -7.21631,0.0729 -8.16384,0.96835 -24.59633,3.03022 -32.81334,4.06126 -8.21702,1.03103 -8.21702,1.03106 -7.91421,1.22945 z\" id=\"path16308\" inkscape:original-d=\"m 443.7572,144.54701 c 0.60541,0.39711 1.20942,0.79285 1.812,1.18714 1.4177,0.37632 2.83393,0.7512 4.24878,1.12468 0.5846,0.1264 1.16776,0.25136 1.74951,0.3749 2.83399,-0.0194 5.66645,-0.0403 8.49756,-0.0625 3.83373,-0.26935 7.66591,-0.54011 11.49673,-0.81227 5.47913,-1.12329 10.95662,-2.24794 16.43281,-3.37404 1.58433,-1.41487 3.16718,-2.83112 4.74864,-4.24878 0.10562,-0.12357 0.20969,-0.24852 0.31242,-0.3749 -16.43173,2.06337 -32.86422,4.12524 -49.29845,6.18574 z\" inkscape:path-effect=\"#path-effect16310-8\"/><path style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" d=\"m 461.87827,104.35 c -2.29114,0.24985 -4.45718,0.66639 -6.81091,1.41615 -2.35373,0.74975 -4.89463,1.83276 -6.91527,3.18673 -2.02065,1.35397 -3.52019,2.97848 -4.20731,4.12477 -0.68712,1.1463 -0.56216,1.81276 0.33412,2.60386 0.89628,0.7911 2.56245,1.7075 4.43687,2.29029 1.87443,0.5828 3.95713,0.83273 6.01895,0.92113 2.06183,0.0884 4.10284,0.0155 5.56601,-0.0313 1.46317,-0.0469 2.34829,-0.0677 3.34279,-0.11458 0.9945,-0.0469 2.09829,-0.11978 3.86343,-0.26038 1.76514,-0.1406 4.19149,-0.34887 6.32103,-0.61967 2.12954,-0.27081 3.96232,-0.60405 5.96135,-1.52047 1.99904,-0.91642 4.16504,-2.41596 5.45605,-3.7276 1.29101,-1.31164 1.70755,-2.4363 0.45887,-3.7484 -1.24869,-1.3121 -4.16446,-2.81164 -7.22622,-3.66595 -3.06176,-0.85431 -6.26911,-1.06258 -9.0809,-1.12513 -2.81178,-0.0626 -5.22771,0.0208 -7.51886,0.27059 z\" id=\"path16081\" inkscape:path-effect=\"#path-effect16083-8\" inkscape:original-d=\"m 461.75208,104.18351 c -2.16464,0.41797 -4.33068,0.83451 -6.49816,1.24964 -2.53956,1.08447 -5.08046,2.16747 -7.62282,3.24908 -1.49819,1.62598 -2.99773,3.25049 -4.49872,4.8736 0.1264,0.66791 0.25135,1.33437 0.37491,1.99944 1.66762,0.91783 3.33379,1.83423 4.99856,2.74921 2.0842,0.25135 4.1669,0.50128 6.24822,0.74979 2.04253,-0.0716 4.08354,-0.14438 6.12326,-0.21867 0.8866,-0.0194 1.77172,-0.0403 2.65548,-0.0625 1.1053,-0.0716 2.2091,-0.14438 3.31156,-0.21868 2.42785,-0.20687 4.8542,-0.41514 7.27917,-0.62482 1.83427,-0.33184 3.66705,-0.66507 5.49844,-0.99972 2.16751,-1.49819 4.33351,-2.99774 6.49814,-4.49872 0.41798,-1.12328 0.83451,-2.24794 1.24965,-3.37404 -2.91449,-1.49818 -5.83026,-2.99773 -8.74752,-4.49871 -3.20607,-0.20686 -6.41342,-0.41513 -9.62224,-0.62482 -2.41461,0.0846 -4.83054,0.16802 -7.24793,0.24992 z\" sodipodi:nodetypes=\"scccccccccccccccss\"/><ellipse style=\"fill:#666666;fill-opacity:1;stroke:none;stroke-width:1.37953\" id=\"path16482-0\" cx=\"448.87631\" cy=\"189.81712\" rx=\"2.1828561\" ry=\"0.6873039\"/><ellipse style=\"fill:#808000;fill-opacity:1;stroke:none;stroke-width:1.37953\" id=\"path16482-0-8\" cx=\"448.63806\" cy=\"193.98593\" rx=\"7.4810357\" ry=\"0.6873039\"/><path style=\"fill:#808000;stroke-width:1.37953\" d=\"m 451.05917,189.81712 5.05993,4.16881 h -14.96207 l 5.53643,-4.16881 z\" id=\"path23852\"/></g></g></g><g id=\"Bad\"><rect style=\"fill:#782121;stroke:none;stroke-width:0.619323\" id=\"Machine_namebody-7-5\" width=\"93.722328\" height=\"42.31168\" x=\"646.20667\" y=\"141.30936\" rx=\"5.302444\" ry=\"5.1377201\"/><rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"10.338009\" ry=\"6.4151978\" y=\"157.50414\" x=\"649.10223\" height=\"22.894804\" width=\"87.292603\" id=\"alarm-77-5-5-6\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:1.26427;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\"/><text inkscape:label=\"\" id=\"pcs-5\" y=\"158.86456\" x=\"762.15753\" style=\"font-weight:bold;font-size:12.8393px;font-family:Tahoma;fill:#ffffff;stroke-width:0.579561\" transform=\"scale(0.92161881,1.0850473)\"> pcs<tspan style=\"fill:#00ffff;stroke-width:0.579561\" id=\"tspan13680-7-3\"> </tspan></text><text inkscape:label=\"\" id=\"G-3\" y=\"155.12901\" x=\"641.05487\" style=\"font-size:11.6477px;font-family:Tahoma;fill:#ffffff;stroke-width:0.525772\" transform=\"scale(1.0159043,0.98434469)\">Defect</text><text xml:space=\"preserve\" style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:17.5638px;font-family:Tahoma;-inkscape-font-specification:Tahoma;display:inline;fill:#ffffff;fill-opacity:0.995951;fill-rule:evenodd;stroke:none;stroke-width:1.37953\" x=\"679.31769\" y=\"173.99757\" id=\"defect\"><tspan sodipodi:role=\"line\" id=\"tspan6762\" x=\"0\" y=\"0\" style=\"stroke-width:1.37953\">0</tspan></text></g><g id=\"Good\"><rect style=\"fill:#c8ab37;stroke:none;stroke-width:0.619323\" id=\"Machine_namebody-7-3\" width=\"93.722328\" height=\"42.31168\" x=\"645.63635\" y=\"89.942123\" rx=\"5.302444\" ry=\"5.1377201\"/><rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"10.338009\" ry=\"6.4151978\" y=\"106.1369\" x=\"648.53192\" height=\"22.894804\" width=\"87.292603\" id=\"alarm-77-5-5-5\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:1.26427;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\"/><text inkscape:label=\"\" id=\"pcs-2\" y=\"111.52357\" x=\"761.53882\" style=\"font-weight:bold;font-size:12.8393px;font-family:Tahoma;fill:#ffffff;stroke-width:0.579561\" transform=\"scale(0.92161881,1.0850473)\"> pcs<tspan style=\"fill:#00ffff;stroke-width:0.579561\" id=\"tspan13680-7-6\"> </tspan></text><text inkscape:label=\"\" id=\"head\" y=\"102.94484\" x=\"640.49359\" style=\"font-size:11.6477px;font-family:Tahoma;fill:#ffffff;stroke-width:0.525772\" transform=\"scale(1.0159043,0.98434469)\">Good</text><text xml:space=\"preserve\" style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:17.5638px;font-family:Tahoma;-inkscape-font-specification:Tahoma;display:inline;fill:#ffffff;fill-opacity:0.995951;fill-rule:evenodd;stroke:none;stroke-width:1.37953\" x=\"678.07007\" y=\"123.01627\" id=\"good\"><tspan sodipodi:role=\"line\" id=\"tspan6393\" x=\"0\" y=\"0\" style=\"stroke-width:1.37953\">0</tspan></text></g><g id=\"Total\"><rect style=\"fill:#008080;stroke:none;stroke-width:0.619323\" id=\"Machine_namebody-7\" width=\"93.722328\" height=\"42.31168\" x=\"645.63647\" y=\"35.95079\" rx=\"5.302444\" ry=\"5.1377201\"/><rect inkscape:label=\"\" rexsvg:tag=\"textbox\" rx=\"10.338009\" ry=\"6.4151978\" y=\"52.145561\" x=\"648.53204\" height=\"22.894804\" width=\"87.292603\" id=\"alarm-77-5-5\" style=\"fill:#333333;fill-opacity:1;fill-rule:nonzero;stroke:#00ff00;stroke-width:1.26427;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1\"/><text inkscape:label=\"\" id=\"pcs\" y=\"61.764137\" x=\"761.53882\" style=\"font-weight:bold;font-size:12.8393px;font-family:Tahoma;fill:#ffffff;stroke-width:0.579561\" transform=\"scale(0.92161881,1.0850473)\"> pcs<tspan style=\"fill:#00ffff;stroke-width:0.579561\" id=\"tspan13680-7\"> </tspan></text><text inkscape:label=\"\" id=\"G\" y=\"48.094807\" x=\"640.49365\" style=\"font-size:11.6477px;font-family:Tahoma;fill:#ffffff;stroke-width:0.525772\" transform=\"scale(1.0159043,0.98434469)\">Total</text><text xml:space=\"preserve\" style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:17.5638px;font-family:Tahoma;-inkscape-font-specification:Tahoma;fill:#ffffff;fill-opacity:0.995951;fill-rule:evenodd;stroke:none;stroke-width:1.37953\" x=\"677.5451\" y=\"69.466667\" id=\"output\"><tspan sodipodi:role=\"line\" id=\"tspan4481\" x=\"0\" y=\"0\" style=\"font-size:17.5638px;fill:none;stroke-width:1.37953\">0</tspan></text></g></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [
            {
                "id": "Move_y",
                "targetId": "Arm",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "0,0",
                "toValue": "0,35",
                "trigger": "msg",
                "duration": "4",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "move_ob",
                "targetId": "ob",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "0,15",
                "toValue": "300,15",
                "trigger": "msg",
                "duration": "8",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_ob2_p1",
                "targetId": "ob",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "300,15",
                "toValue": "344,65",
                "trigger": "msg",
                "duration": "6",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_Jx_p1",
                "targetId": "JointX",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "0,0",
                "toValue": "33,50",
                "trigger": "msg",
                "duration": "6",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_Jx2_p1",
                "targetId": "JointX2",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,550,155.16896",
                "toValue": "-40,550,155.16896",
                "trigger": "msg",
                "duration": "6",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_x_back",
                "targetId": "JointX",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "0,0",
                "toValue": "0,0",
                "trigger": "msg",
                "duration": "3",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_x2_back",
                "targetId": "JointX2",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,550,155.16896",
                "toValue": "0,550,155.16896",
                "trigger": "msg",
                "duration": "2",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_y_back",
                "targetId": "Arm",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "0,0",
                "toValue": "0,0",
                "trigger": "msg",
                "duration": "2",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "rotate_pulley",
                "targetId": "pulley1",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,105.89919,283.93863",
                "toValue": "360,105.89919,283.93863",
                "trigger": "msg",
                "duration": "3",
                "durationUnit": "s",
                "repeatCount": "0",
                "end": "restore",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "rotate_pulley",
                "targetId": "pulley2",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,436.43179,283.86786",
                "toValue": "360,436.43179,283.86786",
                "trigger": "msg",
                "duration": "3",
                "durationUnit": "s",
                "repeatCount": "0",
                "end": "restore",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_ob2_p2",
                "targetId": "ob",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "300,15",
                "toValue": "387.5,65",
                "trigger": "msg",
                "duration": "6",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_Jx_p2",
                "targetId": "JointX",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "0,0",
                "toValue": "80,50",
                "trigger": "msg",
                "duration": "6",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_Jx2_p2",
                "targetId": "JointX2",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,545,156",
                "toValue": "-110,545,156",
                "trigger": "msg",
                "duration": "6",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_ob2_p3",
                "targetId": "ob",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "300,15",
                "toValue": "432,65",
                "trigger": "msg",
                "duration": "7",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_Jx_p3",
                "targetId": "JointX",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "translate",
                "fromValue": "0,0",
                "toValue": "118,50",
                "trigger": "msg",
                "duration": "7",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            },
            {
                "id": "Move_Jx2_p3",
                "targetId": "JointX2",
                "classValue": "",
                "attributeName": "transform",
                "transformType": "rotate",
                "fromValue": "0,545,156",
                "toValue": "-122,545,156",
                "trigger": "msg",
                "duration": "7",
                "durationUnit": "s",
                "repeatCount": "1",
                "end": "freeze",
                "delay": "1",
                "delayUnit": "s",
                "custom": ""
            }
        ],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Fullsystem",
        "x": 1670,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0959298445739330",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "caa6cb69703c87c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Y5, Y6,Y7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"trigger_animation\",\"selector\":\"#Move_y\",\"action\":\"start\"},{\"command\":\"set_style\",\"elementId\":\"Dobot_status0\",\"attributeName\":\"fill\",\"attributeValue\":\"#008000\"},{\"command\":\"set_style\",\"elementId\":\"Dobot_status1\",\"attributeName\":\"fill\",\"attributeValue\":\"#44aa00\"},{\"command\":\"set_style\",\"elementId\":\"Dobot_status2\",\"attributeName\":\"fill\",\"attributeValue\":\"#44aa00\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1100,
        "y": 1780,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "5d68bd5b8e7f6195",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "caa6cb69703c87c3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "X7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"trigger_animation\",\"selector\":\"#Move_x_back\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_x2_back\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_y_back\",\"action\":\"start\"},{\"command\":\"set_style\",\"elementId\":\"Dobot_status0\",\"attributeName\":\"fill\",\"attributeValue\":\"#AA0000\"},{\"command\":\"set_style\",\"elementId\":\"Dobot_status1\",\"attributeName\":\"fill\",\"attributeValue\":\"#ff0000\"},{\"command\":\"set_style\",\"elementId\":\"Dobot_status2\",\"attributeName\":\"fill\",\"attributeValue\":\"#ff0000\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1110,
        "y": 1740,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "983a70ac742fc2ad",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "df2cb73fe0626c14",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Conveyor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"trigger_animation\",\"selector\":\"#move_ob\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_x_back\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_x2_back\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_y_back\",\"action\":\"start\"},{\"command\":\"set_style\",\"elementId\":\"object_ontop\",\"attributeName\":\"fill\",\"attributeValue\":\"#4d4d4d\"},{\"command\":\"set_style\",\"elementId\":\"object_body\",\"attributeName\":\"fill\",\"attributeValue\":\"#cccccc\"},{\"command\":\"set_style\",\"elementId\":\"object_under\",\"attributeName\":\"fill\",\"attributeValue\":\"#cccccc\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1120,
        "y": 2220,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "b62d2f8cebe58222",
        "type": "modbus-read",
        "z": "3686077fae15545c",
        "name": "Dobot input (y5,y6,y7)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7e3059859e0411fc",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 480,
        "y": 820,
        "wires": [
            [
                "7e1528f24f4efd95"
            ],
            []
        ]
    },
    {
        "id": "7e1528f24f4efd95",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "PLC output",
        "func": "var msg0 = { payload: msg.payload[0] };\nvar msg1 = { payload: msg.payload[1] };\nvar msg2 = { payload: msg.payload[2] };\n\n\nreturn [msg0, msg1, msg2];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 840,
        "wires": [
            [
                "69359ee205810e5d",
                "17c000eac25bdd7a"
            ],
            [
                "960387f19274e258",
                "d8605d41f63be4c3"
            ],
            [
                "e101a094232ef2b1",
                "1c32c1e341d21020"
            ]
        ]
    },
    {
        "id": "f67c0eccd2c00d24",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "for_Animation_Dobot_working",
        "func": "var y5 = { payload: msg.payload};\nif (y5.payload === \"true\" || y5.payload === true) {\n    y5.payload = [\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_y\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"Dobot_status0\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#008000\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"Dobot_status1\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#44aa00\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"Dobot_status2\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#44aa00\"\n        }\n    ]\n} else {\n    y5.payload = \"false\";\n}\nreturn y5;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1000,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "8093c8a92266d8fc",
        "type": "modbus-read",
        "z": "3686077fae15545c",
        "name": "Dobot_Output(PLC input)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Input",
        "adr": "7",
        "quantity": "2",
        "rate": "700",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7e3059859e0411fc",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 570,
        "y": 1280,
        "wires": [
            [
                "9a0790214c39b060"
            ],
            []
        ]
    },
    {
        "id": "9a0790214c39b060",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "for dobot",
        "func": "var msg = { payload: msg.payload[0] };\nreturn [msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1280,
        "wires": [
            [
                "e4a4184a9fa43a9d"
            ],
            []
        ]
    },
    {
        "id": "69359ee205810e5d",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "For delay \"true\"",
        "func": "if (msg.payload === true && context.get(\"lastTrue\") === true) {\n    // Delay the message by 5 seconds\n    return [null, { payload: true, delay: 5000  }];\n} else {\n    // Pass the message through without delay\n    context.set(\"lastTrue\", msg.payload);   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 980,
        "wires": [
            [
                "f67c0eccd2c00d24",
                "265b01a925499d1b"
            ]
        ]
    },
    {
        "id": "960387f19274e258",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "For delay \"true\"",
        "func": "if (msg.payload === true && context.get(\"lastTrue\") === true) {\n    // Delay the message by 5 seconds\n    return [null, { payload: true, delay: 5000  }];\n} else {\n    // Pass the message through without delay\n    context.set(\"lastTrue\", msg.payload);   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1020,
        "wires": [
            [
                "f67c0eccd2c00d24",
                "c61810003e5c757c"
            ]
        ]
    },
    {
        "id": "e101a094232ef2b1",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "For delay \"true\"",
        "func": "if (msg.payload === true && context.get(\"lastTrue\") === true) {\n    // Delay the message by 5 seconds\n    return [null, { payload: true, delay: 5000  }];\n} else {\n    // Pass the message through without delay\n    context.set(\"lastTrue\", msg.payload);   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1060,
        "wires": [
            [
                "f67c0eccd2c00d24",
                "5f66d7446fbcd1c2"
            ]
        ]
    },
    {
        "id": "e4a4184a9fa43a9d",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "End Dobot Status",
        "func": "var m1 = { payload: msg.payload};\nif (m1.payload === \"true\" || m1.payload === true) {\n    m1.payload = [\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_x_back\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_x2_back\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_y_back\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"Dobot_status0\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#AA0000\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"Dobot_status1\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#ff0000\"\n        },\n        {\n            \"command\": \"set_style\",\n            \"elementId\": \"Dobot_status2\",\n            \"attributeName\": \"fill\",\n            \"attributeValue\": \"#ff0000\"\n        }\n    ]\n} else {\n    m1.payload = \"false\";\n}\nreturn m1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1280,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "b095e48f91aa1a99",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "caa6cb69703c87c3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Y5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"trigger_animation\",\"selector\":\"#Move_Jx_p1\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_Jx2_p1\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_ob2_p1\",\"action\":\"start\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1110,
        "y": 1820,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "76ca2327c8366e83",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "pick&place p1",
        "func": "var pick = { payload: msg.payload};\nif (pick.payload === \"true\" || pick.payload === true) {\n    pick.payload = [\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_Jx_p1\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_Jx2_p1\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_ob2_p1\",\n            \"action\": \"start\"\n        }\n    ]\n} else {\n    pick.payload = \"false\";\n}\nreturn pick;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1140,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "265b01a925499d1b",
        "type": "delay",
        "z": "3686077fae15545c",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 1140,
        "wires": [
            [
                "76ca2327c8366e83"
            ]
        ]
    },
    {
        "id": "c61810003e5c757c",
        "type": "delay",
        "z": "3686077fae15545c",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 1180,
        "wires": [
            [
                "c5310b1381dfc5d5"
            ]
        ]
    },
    {
        "id": "5f66d7446fbcd1c2",
        "type": "delay",
        "z": "3686077fae15545c",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 1220,
        "wires": [
            [
                "aea9f26b4c2e5d31"
            ]
        ]
    },
    {
        "id": "de3dcaa0c1f529e4",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "caa6cb69703c87c3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Y6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"trigger_animation\",\"selector\":\"#Move_Jx_p2\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_Jx2_p2\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_ob2_p2\",\"action\":\"start\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1090,
        "y": 1840,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "c5310b1381dfc5d5",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "pick&place p2",
        "func": "var pick2 = { payload: msg.payload};\nif (pick2.payload === \"true\" || pick2.payload === true) {\n    pick2.payload = [\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_Jx_p2\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_Jx2_p2\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_ob2_p2\",\n            \"action\": \"start\"\n        }\n    ]\n} else {\n    pick2.payload = \"false\";\n}\nreturn pick2;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1180,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "1039c6e23e4570fa",
        "type": "ui_button",
        "z": "3686077fae15545c",
        "d": true,
        "name": "",
        "group": "caa6cb69703c87c3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Y7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[{\"command\":\"trigger_animation\",\"selector\":\"#Move_Jx_p3\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_Jx2_p3\",\"action\":\"start\"},{\"command\":\"trigger_animation\",\"selector\":\"#Move_ob2_p3\",\"action\":\"start\"}]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1110,
        "y": 1980,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "aea9f26b4c2e5d31",
        "type": "function",
        "z": "3686077fae15545c",
        "name": "pick&place p3",
        "func": "var pick3 = { payload: msg.payload};\nif (pick3.payload === \"true\" || pick3.payload === true) {\n    pick3.payload = [\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_Jx_p3\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_Jx2_p3\",\n            \"action\": \"start\"\n        },\n        {\n            \"command\": \"trigger_animation\",\n            \"selector\": \"#Move_ob2_p3\",\n            \"action\": \"start\"\n        }\n    ]\n} else {\n    pick3.payload = \"false\";\n}\nreturn pick3;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1220,
        "wires": [
            [
                "9fdda56ab2ecfb9a"
            ]
        ]
    },
    {
        "id": "df2cb73fe0626c14",
        "type": "ui_group",
        "name": "control-debug",
        "tab": "c1b3ca1f826d61b5",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa53500684c35e68",
        "type": "ui_group",
        "name": "Sensor-debug",
        "tab": "c1b3ca1f826d61b5",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e3059859e0411fc",
        "type": "modbus-client",
        "name": "Animation_plc",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.137.250",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "19aca1c3f229fdd0",
        "type": "ui_group",
        "name": "Default",
        "tab": "c1b3ca1f826d61b5",
        "order": 1,
        "disp": true,
        "width": 23,
        "collapse": false,
        "className": ""
    },
    {
        "id": "caa6cb69703c87c3",
        "type": "ui_group",
        "name": "Dobot",
        "tab": "c1b3ca1f826d61b5",
        "order": 4,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1b3ca1f826d61b5",
        "type": "ui_tab",
        "name": "62050216_Animation_Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]